.form-container-outer{
  display:flex;
  padding: 1em .9em;
  
  /* !This height value will need to be removed */
  min-height: 602px;
  max-width: 65.5em;
  
  border-radius: 14px;
  background: var(--color-white);
  box-shadow:  22px -22px 44px #e7eef7,
              -22px 22px 44px #f5fcff;
}