.menu-outer{
  border: 2px solid yellow;
  padding: 1.5em;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  /*? sets menu width */
  min-width: 30%; 
}
.menu-inner{
  position: relative;
  z-index: 1;
}

.menu-container{
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
}

.menu-bg{
  position:absolute;
  top:0;
  left:0;
}

.menu-list{
  font-size: var(--font-md);
  color: var(--color-white);
  list-style-type: none;
}
.menu-item-shell{
  position: relative;
}
.menu-item{
  text-align:left;
  align-self: center;
  padding-left: 2.2em;
  font-size: var(--font-lg);
  margin-top: .8em;
  margin-bottom: 1.3em;
  font-family:'ubuntu-bold';
  cursor: pointer;
}
.menu-item-style{
  background: transparent;
  border: .5px var(--color-white) solid;
  border-radius: 50px 50px;
  height:32px;
  width: 32px;
  position: absolute;
  left:-.7em;
  top: .2em;
  z-index: -1;
}
.menu-item-style__active{
  background: var(--color-white);
}
.menu-item-style__number{
  position: absolute;
  left:-.02em;
  top: .5em;
  z-index: 2;
  color:var(--color-white);
  opacity:.8;
}
.menu-item-style__number_active{
  color:var(--color-blue-2);
}
.menu-item small{
  display:block;
  color:var(--color-c-grey);
  font-size:var(--font-sm);
}
.menu-item-text{
  opacity: .83;
}
