@media (max-width: 1024px) {
  .header{
    /* background: url(/bg-sidebar-mobile.svg); */
    background: url(/projects/multi-step-form/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30em;
  }
  .header-logo{
    display:none;
  }
  .header-link{
    display:none;
  }
  
}


@media (max-width: 375px) {
  .header{
    height: 22em;
  }
}