@media (max-width: 1024px) {
  .step5-text{
    padding: 1em 2em 0 2em;
  }
  .step5-icon{
    height:130%;
  }
  .step5 {
    align-self: start;
  }
}

@media (max-width: 375px) {
  .step5 {
    align-self: start;
  }
}