@media (max-width: 1024px) {
  .step4{
    width: auto;
  }
}

@media (max-width: 660px) {
  .step4{
    margin: 0 1.5em;
  }
}

@media (max-width: 375px) {
  .step4-tableCell__total{
    flex-direction: column;
  }
  .step4-tableCell__total p{
    margin:0;
  }
}